
$yellow: rgb(233, 189, 44)
$yellow1:rgb(228, 228, 51)
$background : rgba(237, 253, 253, 0.26)
$grey:rgb(224, 224, 224)
*
    font-family: 'Mukta', sans-serif 


body
    margin: 2rem 3rem
    background: $background
    
%flex
    display: flex
    gap: 2rem

nav
    text-transform: capitalize
    .part1
        @extend %flex
        align-items: center

        .logo
            h2
                span
                    color: $yellow
                    

        .links
           @extend %flex
           a.active 
             font-weight: bold
           a
            text-decoration: none
            color: black
            &:hover 
                color: $yellow

    display: flex
    align-items: center
    justify-content: space-between
    
    .part2
        @extend %flex

        .search
            display: flex
            align-items: center
            gap: .3rem
            background: white
            border: 1.5px solid $grey
            padding: .3rem

            input
                border: none
                outline: none
            span
                color: $yellow
        .buttons
            @extend %flex
            gap: 1rem
            button
                padding: .7rem
                text-transform: capitalize
                border-radius: .4rem
            button:nth-of-type(1)
                background: white
                border: 1.5px solid $grey
                outline: none
        
            button:nth-of-type(2)
                border: none
                outline: none
                background: $yellow
                width:5rem
                font-weight: bold
    

section.home
        .info

            h1
                text-transform: capitalize
                font-size: 3rem
                margin-top:0
                margin-left:2rem
            img
                margin-top : 3rem
                margin-bottom:0
            p , input , button , .features
                margin-left:2rem
            p.description
                color : grey
                margin-bottom:2rem
            .search
               
                @extend %flex
                gap:.5rem
                background-color: white
                margin-left:2rem
               
                border: 1.5px solid $grey
                width: fit-content

                input , button
                    border:0
                    outline:0
                input,i,button
                    margin:0
                input , .dd 
                    padding: .4rem
                button
                    margin: .2rem
                    padding:.5rem
                    border-radius:.3rem
                    background-color:$yellow
                    width:6rem

            .features
                margin: 2rem auto
                border-radius: 1rem
                display: grid
                grid-template-columns: 1fr 1fr 1fr
                gap: 2rem
                .feature
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    background-color: white
                    border: 1.5px solid $grey

                    img
                        margin-top: 1rem
                    p
                        text-align: center
                        margin:0
                        text-transform: capitalize

                    p:nth-of-type(2)
                        margin-bottom: .5rem
        .image
            clip-path: polygon(50% 0%, 83% 7%, 100% 21%, 100% 82%, 82% 95%, 50% 100%, 11% 94%, 0 84%, 0 21%, 18% 7%)
            width: fit-content
            padding: .5rem
            background: linear-gradient(to left, rgb(252, 192, 81),rgb(230, 134, 25))

            
            
            


                