* {
  font-family: "Mukta", sans-serif;
}

body {
  margin: 2rem 3rem;
  background: rgba(237, 253, 253, 0.26);
}

section.home .info .search, nav .part2 .buttons, nav .part2, nav .part1 .links, nav .part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

nav {
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .part1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .part1 .logo h2 span {
  color: rgb(233, 189, 44);
}
nav .part1 .links a.active {
  font-weight: bold;
}
nav .part1 .links a {
  text-decoration: none;
  color: black;
}
nav .part1 .links a:hover {
  color: rgb(233, 189, 44);
}
nav .part2 .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3rem;
  background: white;
  border: 1.5px solid rgb(224, 224, 224);
  padding: 0.3rem;
}
nav .part2 .search input {
  border: none;
  outline: none;
}
nav .part2 .search span {
  color: rgb(233, 189, 44);
}
nav .part2 .buttons {
  gap: 1rem;
}
nav .part2 .buttons button {
  padding: 0.7rem;
  text-transform: capitalize;
  border-radius: 0.4rem;
}
nav .part2 .buttons button:nth-of-type(1) {
  background: white;
  border: 1.5px solid rgb(224, 224, 224);
  outline: none;
}
nav .part2 .buttons button:nth-of-type(2) {
  border: none;
  outline: none;
  background: rgb(233, 189, 44);
  width: 5rem;
  font-weight: bold;
}

section.home .info h1 {
  text-transform: capitalize;
  font-size: 3rem;
  margin-top: 0;
  margin-left: 2rem;
}
section.home .info img {
  margin-top: 3rem;
  margin-bottom: 0;
}
section.home .info p, section.home .info input, section.home .info button, section.home .info .features {
  margin-left: 2rem;
}
section.home .info p.description {
  color: grey;
  margin-bottom: 2rem;
}
section.home .info .search {
  gap: 0.5rem;
  background-color: white;
  margin-left: 2rem;
  border: 1.5px solid rgb(224, 224, 224);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
section.home .info .search input, section.home .info .search button {
  border: 0;
  outline: 0;
}
section.home .info .search input, section.home .info .search i, section.home .info .search button {
  margin: 0;
}
section.home .info .search input, section.home .info .search .dd {
  padding: 0.4rem;
}
section.home .info .search button {
  margin: 0.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: rgb(233, 189, 44);
  width: 6rem;
}
section.home .info .features {
  margin: 2rem auto;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
section.home .info .features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border: 1.5px solid rgb(224, 224, 224);
}
section.home .info .features .feature img {
  margin-top: 1rem;
}
section.home .info .features .feature p {
  text-align: center;
  margin: 0;
  text-transform: capitalize;
}
section.home .info .features .feature p:nth-of-type(2) {
  margin-bottom: 0.5rem;
}
section.home .image {
  -webkit-clip-path: polygon(50% 0%, 83% 7%, 100% 21%, 100% 82%, 82% 95%, 50% 100%, 11% 94%, 0 84%, 0 21%, 18% 7%);
          clip-path: polygon(50% 0%, 83% 7%, 100% 21%, 100% 82%, 82% 95%, 50% 100%, 11% 94%, 0 84%, 0 21%, 18% 7%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  background: -webkit-gradient(linear, right top, left top, from(rgb(252, 192, 81)), to(rgb(230, 134, 25)));
  background: linear-gradient(to left, rgb(252, 192, 81), rgb(230, 134, 25));
}